@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$background-color: whitesmoke;
$text-color-primary: steelblue;
$font-regular: 'Montserrat';
$text-color-secondary: rgb(61, 166, 207)